<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="TestResultDirectoryPath" value="\\10.7.102.200\Storage\reports" />
		<add key="TestResultXmlFileName" value="TestResults.xml" />
		<add key="FailedTestsTxtFileName" value="FailedTestCases.txt" />
	</appSettings>
</configuration>
