<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="FirstReportJsonFile" value="\\10.7.102.200\Storage\reports\FirstTestExecution.json" />
		<add key="SecondReportJsonFile" value="\\10.7.102.200\Storage\reports\SecondTestExecution.json"/>
		<add key="TestResultFilePath" value="\\10.7.102.200\Storage\reports\TestExecution.json"/>
	</appSettings> 
</configuration>