<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="TestResultsXmlFilePath" value="\\10.7.102.200\Storage\reports\TestResults.xml" />
		<add key="RetryTestResultsXmlFilePath" value="\\10.7.102.200\Storage\reports\RetryTestResults.xml" />

		<add key="ServerName" value="10.7.102.192" />
		<add key="DbName" value="TestResults" />
		<add key="UserName" value="sa" />
		<add key="UserPassword" value="1" />

	</appSettings> 
</configuration>